main {
    margin: 0;
    padding: 0;
    justify-content: center !important;
}
.picture-box {
    height: calc(100px + 1em);
    margin-bottom: 1em;
    padding: 0.5em;
    background: #AFCEC6;
    border-radius: 5px;
}

#picture img{
    width: 95vw;
    height: 100%;
}