
.body {
    display: flex;
    flex-direction: column;
    min-width: 375 px;
}

header {
    flex: 0 80px;
}

main {
    flex: 1 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    flex: 1;
}

footer {
    flex: 0 30px;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

menu .nav-item {
    padding: 0 0.3em
}

footer a {
    float:right;
}

.bg-second {
    background-color: #E9FFF9;
}

.bg-main {
    background-color: #008080;
}

.btn-main {
    background-color: #1D3354 !important;
    border: #1D3354 !important;
    color: white !important; /* Change text color if needed */
    margin: 10px;
}
.btn-second {
    background-color: #467599 !important;
    border: #1D3354 !important;
    color: white !important; /* Change text color if needed */
    margin: 10px;
}

@media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }

.custom-link {
    color: #1D3354;
}
